* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
}
body {
  background-color: #f1f1f3;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.Homepage {
  width: 100%;
  height: 100vh;
  display: flex;
}
.Navbar {
  flex-basis: 20%;
  height: inherit;
  background-color: #ffffff;
  flex-direction: column;
}
.Navbar .fb_logo {
  display: flex;
  align-items: center;
  height: 70px;
  margin-left: 10px;
  color: #0571ff;
}
.fb_logo h2 {
  margin-top: 5px;
}
.Navbar .fb_logo img {
  width: 75px;
  margin: 0 -5px;
  object-fit: cover;
}
.Navbar .searchbar {
  border: 2px solid #0571ff;
  padding: 0 25px;
  width: 55%;
  height: 42px;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 40px;
  margin-left: 15px;
  gap: 10px;
}

.Navbar .searchbar input {
  padding: 10px 0;
  width: 90%;
  border: none;
  font-size: 1.2rem;
  outline: none;
  color: black;
}
.searchbar .search {
  font-size: 1.2rem;
  color: #c3c3c3;
}
.nav_items {
  width: 100%;
  margin-top: 10px;
}

.nav_items .li {
  padding: 3px 28px;
  margin-top: 5px;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  gap: 25px;
  border-radius: 25px;
  cursor: pointer;
}
.nav_items .li:hover{
  color: #0571ff;
}

.nav_items .logo_nav {
  font-size: 1.8rem;
}
.nav_items .msg_count {
  background-color: #0571ff;
  color: #fff;
  padding: 4px 15px;
  margin-left: -8px;
  border-radius: 15px;
}
.nav_items h4 {
  margin-left: 25px;
}
.Navbar .notification_center{
  width: 100%;
  margin: 0 auto;
  height: 100px;
  color: rgb(20, 19, 19);
}
.notification_center h2{
  font-weight: 400;
  margin: 15px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 5px;
  position: relative;
}
.notification_center .delete{
  position: absolute;
  margin-top: -2.5rem;
  left: 16rem;
  font-size: 15px;
  background-color: #808080;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  border-radius: 50%;
}

.notification_center .bell{
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 800;
}
.notify{
  width: 95%;
  margin: 10px auto;
  height: 50px;
  background-color: #0571ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.notify h4 {
  margin-left:15px ;
  font-weight: 500;
}
.notify h3 {
  margin-right:15px ;
  font-weight: 500;
}
.PostSection {
  height: inherit;
  flex-basis: 55%;
  background-color: inherit;
  height: 100vh;
  overflow: scroll;
}

.PostSection::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.PostSection::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Radius of the thumb */
}

.PostSection::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

.PostSection .PostUploader{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PostUploader .post_bar{
  width: 94%;
  height: 120px;
  background-color: #ffffff;
  border-radius: 8px;
}

.post_bar section{
  width: 100%;
  display: flex;
}
section .inputbox{
  width: 80%;
}
section .inputbox h3{
  font-size: 1.2rem;
  font-weight: 800;
  margin: 10px ;
}
section .inputbox textarea{
  border: none;
  background-color: transparent;
  outline: none;
  margin:0 3px ;
  overflow: hidden;
  padding: 0 10px;
  resize: none;
  font-size: 1.2rem;
  color: #808080;
}
section .media_options{
  margin-right: 15px;
  margin-top: 15px;position: relative;
}
.media_options .Mo_logo{
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 5px;
  color: #0571ff;
}
.post_bar .other_sec{
  margin: 10px 8px;
}
.other_sec button{
  padding: 3px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #0571ff;
}
.other_sec .Os_loso{
  font-size: 0.6rem;
  scale: 2.5;
  color: #0571ff;
}
#fileUploadeer{
  display: none;
}
.imagecounter{
  position: absolute;
  margin-left: 30px;
  margin-top: -5px;
  font-size: 0.9rem;
  font-weight: 800;
}
.media_options
.post_Show{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.p_card{
  width: 95%;
  border-radius: 5px;
  margin-left: 1rem;
  height: 60vh;
  background-color: #ffffff;
  margin-top: 15px;
}
.p_card .first{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-top: 2px;
}
.p_card .first .user{
  display: flex;
  align-items: center;
}
.first .user .img_user{
  font-size: 38px;
  border-radius: 50%;
  background-color: #808080;
  margin-left: 15px;
}
.user span{
  margin: 0 7px;
}
.user span h2{
  font-size: 1em;
  font-weight: 800;
}
.user  span small{
  font-size: 12px;
}
.first .logo_nav{
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
.second{
  width: 100%;
  height: 65%;
  background-image: url(https://img.freepik.com/premium-vector/hand-drawn-cute-doodle-illustration-design_90573-625.jpg);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
.second img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.third{
  width: 100%;
  display: flex;
  align-items: center;
  /* height: 50px; */
}
.captions{
  width: 100%;
  height: 45px;
  /* background-color: #0571ff; */
  display: flex;
  align-items: center;
}
.captions h3{
  font-weight: 500;
  margin: 0 15px;
}
.third button{
  padding: 8px 15px;
  border-radius: 25px;
  outline: none;
  background-color: #F2F2F4;
  border: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 gap: 1rem;
 font-size: 15px;
 font-weight: 600;
}
.third button:hover{
  background-color: #0571ff;
  color: white;
}

.Usersection {
  height: inherit;
  flex-basis: 25%;
  background-color: #ffffff;
}
.Usersection .user_box{
  height: 80px;
  /* background-color: #0571ff; */
  display: flex;
  align-items: center;
  width: 100%;
}
.user_box img{
  margin-left: 15px;
}

.user_box h2{
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: 700;
}
.user_box .line{
  margin-left: 2rem;
  font-weight: 500;
  font-size: 2rem;
}
.Usersection .friends_list{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}.Usersection .f_hr{
  width: 80%;
  height: 0.5px;
  background-color: #c3c3c3;
  outline: none;
  border: none;
  margin: 0 auto;
}
.bar_F{
  width: 100%;
  margin-top: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bar_F h3{
  margin-left: 10px;
}
.bar_F .icons{
  margin-right: 10px;
  display: flex;
  gap: 20px;
  font-weight: 800;
  color: #808080;
}

.table_box{
  width: 100%;
  height: inherit;
  height:15vh;
  overflow-y: scroll;
}
.group_list{
  width: 100%;
  height: 20vh;
}
.group_list h3{
  margin:15px 0 0 10px;
}
.table_box::-webkit-scrollbar , .group_list::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.table_box::-webkit-scrollbar-thumb , .group_list::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Radius of the thumb */
}

.table_box::-webkit-scrollbar-track , .group_list::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}
.table_box  table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td {
  padding: 8px;
  text-align: left;
  display: flex;
  align-items: center;
}

td img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.Online{
  margin-right: 5px;

  font-size: 1rem;
}
.facebook_Settings{
  width: 100%;
  margin-top: 2rem;
  height: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.facebook_Settings .nav_items h3{
  margin-left: -10px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-top: 5px;
}


.UserPage{
  flex-basis: 75%;
  background-color:#fff;
  display: flex;
  flex-direction: column;
}
.UserPage .Navbar_User{

 }
.UserPage .fb_logo{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #0571ff;
} 
.main_users_page{
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
.main_users_page .user_id_section{
  flex-basis: 35%;
  height: inherit;
  margin-left: 0.5rem;
}
.main_users_page .user_id_section .bg_profile{
width: 100%;
height: 270px;
}
.user_id_section .bg_profile {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg_profile .front_profile{
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: -2rem;
  left: 5.6rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.front_profile img{
  border-radius: 4px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user_id_section .bg_profile .bg{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.user_id_section .users_details{
  width: 100%;
  margin-top: 3rem;

}
.user_id_section .users_details .other_details{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 2rem;
}
.other_details span{
  margin-left: 2rem;
}
.friends {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 1rem;
}
.friends button{
  padding: 18px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c3c3c3;
}

button strong{
  color: blue;
  font-size: 2rem;
}

.main_users_page .user_id_post_section{
  flex-basis: 65%;
  /* background-color:#c3c3c3; */
  border-radius: 5px;
}
.user_id_post_section h2{
  margin: 15px 0 0 15px ;
}

.users_posts{
  overflow-y:scroll ;
  height: auto;
  width: 100%;
  /* background-color: #0571ff; */
}
.user_posts_card{
  width: 100%;
  height: auto;
  /* background-color: #0571ff; */
  display: flex;
  flex-wrap: wrap;
}
.user_posts_card .cards{
  width: 180px;
  height: 180px;
  margin:  15px 0 15px 25px;
  border-radius: 5px;
  background-color: #0571ff;
}

.users_posts::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.users_posts::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Radius of the thumb */
}

.users_posts::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}











/* loader */
.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}
/*  */



/* single post page */

.PostPage{
    height: inherit;
    flex-basis: 55%;
    background-color: inherit;
    height: 100vh;
    overflow-y: scroll;
    background-color: #c3c3c3;
  }

  .PostPage .p_card{
    height: auto;
  }
  
  .PostPage .p_card .second{
    height: 50vh;
  }
  .PostPage::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  .PostPage .third button{
    margin-bottom: 25px;
  }
  
  .PostPage::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 6px; /* Radius of the thumb */
  }
  
  .PostPage::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track */
  }
  

  .PostPage .commments_box{
    width: 100%;
    height: auto;
  }

.commments_box .commment_input{
  width: 100%;
  height: 80px;
  /* background-color: #0669ff; */
  display: flex;
  align-items: center;
  gap: 10px;
}
.commment_input input{
  width: 75%;
  height: 60px;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #c3c3c3;
  padding: 0 15px;
  font-weight: 800;
  font-size: 15px;
}
.commment_input button{
  padding: 24px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.commment_input button:active{
  background-color: #0571ff;
  color: white;
  font-weight: 800;
}
.commments_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: center; */
  align-items: center;
  margin-top: 1rem;
}
  
.commments_list  .comments_span{
  width: 96%;
  height: auto;
  background-color: #0571ff;
  display: flex;
  border-radius: 25px  25px 0 25px;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
}
.comments_span img{
  width: 50px;
  border-radius: 50%;
  height: 50px;
  margin: 10px ;
}
.comments_texts {
  height: inherit;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.comments_texts small{
  position: relative;
  top: 10px;
  font-weight: 800;
  color: white;
}
.comments_span  h4{
  color: white;
  margin-bottom: 10px;
  margin-right:10px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 10px;
}
.comment_like{
  position: absolute;
  left: 39rem;
  font-size: 1.2rem;
  color: white;
}





